<div class="row">
<div class="col-md-12 well" >
<div class="col-md-2">
<a ui-sref="admin.home"><button type="button" class="btn btn-large btn-success"><i class="fa fa-arrow-left" aria-hidden="true"></i>
 back</button></a>
</div>
<div class="col-md-8">

	<h2 class="text-center no-margin no-padding" >Add Course</h2>
</div>

</div>

	<div class = "col-md-2"></div>
	<div class = "col-md-8 col-xs-12 well well-lg">


			<form ng-submit = "addCourse(x)" ng-init = "x = {}">
				<input required type = "text" class = " form-control custom-form" ng-model = "x['id']" placeholder="Course Name in short without space" data-toggle="tooltip" data-placement="right" >
				<input required type = "text" class = " form-control custom-form" ng-model = "x['name']" placeholder=" Course Full Name" data-toggle="tooltip" data-placement="right" >

				<textarea rows="6" class = "form-control custom-form" placeholder="course Description" ng-model = "x['content']" data-toggle="tooltip" data-placement="right" title="Description"></textarea>
				<input required type = "text" class = " form-control custom-form" ng-model = "x['eligibility']" placeholder="eligibility for admission" data-toggle="tooltip" data-placement="right" >

				<input required type = "text" class = " form-control custom-form" ng-model = "x['duration']" placeholder="duration of course" data-toggle="tooltip" data-placement="right" >
				<input required type = "text" class = " form-control custom-form" ng-model = "x['fees']" placeholder="fees for course" data-toggle="tooltip" data-placement="right" >


				<button class = "pull-right btn btn-success" type="submit" >Add course</button>
			</form>


	</div>
</div>
