<h2 class = "page-header text-danger">Upload Photos   {{event.name
				}}</h2>
				<div class = "row">
					<div class = "col-md-3">
					</div>
					<div id = 'myDiv' class = "col-md-6">
						<div  
						class="dropzone" 
						drop-zone 
						call-back="myCallBackMethod(response)" 
						data-max="5"
						action="{{action}}" 
						auto-process="false" 
						message="Drop file here or click to select" 
						mimetypes="mimeTypes" 
						id="fileDropzone">

					</div>
				</div>
				<div class = "col-md-3">
				<button class = "btn btn-success" ng-click="goTo('admin.home')">Done</button>
				</div>
			</div>