<div class="container-fluid margin-bottom-35">
<div class="col-md-12 well" >
<div class="col-md-2">
<a ui-sref="admin.home"><button type="button" class="btn btn-large btn-success"><i class="fa fa-arrow-left" aria-hidden="true"></i>
 back</button></a>
</div>
<div class="col-md-8">
	
	<h2 class="text-center no-margin no-padding" >Add New Teacher</h2>
</div>

</div>
	<form id="addNews" ng-init="x = {}" ng-submit="doAddTeacher(x)">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="well well-lg">
				
			
					<div class="col-md-4 col-xs-12 col-sm-12 no-padding">
						<input class="form-control custom-form" ng-model ="x['fname']" required type="text" placeholder="Enter First Name"> 
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 no-padding">
						<input class="form-control custom-form" required ng-model ="x['mname']" type="text" placeholder="Enter Middle Name"> 
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 no-padding">
						<input class="form-control custom-form" required ng-model ="x['lname']" type="text" placeholder="Enter Last Name"> 
					</div>

			<div>
				<select  required class="form-control margin-auto margin-top-10" ng-model="x['course']" ng-options="course.course for course in courses" default>
					<option value="" disabled>choose a course</option>
				</select>
				</div>
				<input class="form-control custom-form margin-top-10" required ng-model ="x['qualification']" type="text" placeholder="Enter qualification of teacher"> 
				
				
				<input class="form-control custom-form margin-top-10" required ng-model ="x['post']" type="text" placeholder="post"> 
				
				<input class="form-control custom-form margin-top-10" required ng-model ="x['phone']" type="number" placeholder="phone number"> 
				

				<input class="form-control custom-form margin-top-10" required ng-model ="x['email']" type="email" placeholder="E-mail address">


			</div> 	
		</div>




		<div class="col-md-12 text-center margin-bottom-35">
			<button class="btn btn-success btn-md" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add Teacher</button>

		</div>
	</form>
</div>

</div>