<div class="container-fluid margin-bottom-35">
<div class="col-md-12 well" >
<div class="col-md-8 col-md-offset-2">

	<h2 class="text-center no-margin no-padding" >Add New Teacher</h2>
</div>

</div>
	<form id="addNews" ng-init="x = {}" ng-submit="doAddTeacher(x)">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="well well-lg">


					<div class="col-md-4 col-xs-12 col-sm-12 no-padding">
						<input class="form-control custom-form" ng-model ="x['fname']" required type="text" placeholder="Enter First Name">
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 no-padding">
						<input class="form-control custom-form" required ng-model ="x['mname']" type="text" placeholder="Enter Middle Name">
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 no-padding">
						<input class="form-control custom-form" required ng-model ="x['lname']" type="text" placeholder="Enter Last Name">
					</div>


        <select   class="form-control margin-auto margin-top-10" style="margin-left:9px" ng-model="x['course']" >
					<option value="" disabled>choose a course</option>
          <option value="bca">B.SC</option>
          <option value="bba">B.B.A</option>
          <option value="bcom">B.COM</option>
          <option value="llb">L.L.B</option>
          <option value="med">M.ED</option>
          <option value="bed">B.ED</option>
          <option value="mscit">M.SC.IT</option>
          <option value="bsc">B.SC</option>

</select>
				<input class="form-control custom-form margin-top-10" required ng-model ="x['qualification']" type="text" placeholder="Enter qualification of teacher">



				<select   class="form-control margin-auto margin-top-10" style="margin-left:9px" ng-model="x['post']" >
					<option value="" disabled>Select Post</option>

          <option value="H.O.D.">Head Of Department</option>
					<option value="Professor">Professor</option>
					<option value="Associate Professor">Associate Professor</option>
					<option value="Assistant Professor">Assistant Professor</option>
					<option value="Lab Assistant">Lab Assistant</option>

</select>

				<input class="form-control custom-form margin-top-10" ng-model ="x['phone']" type="number" placeholder="phone number">


				<input class="form-control custom-form margin-top-10"  ng-model ="x['email']" type="email" placeholder="E-mail address">


			</div>
		</div>




		<div class="col-md-12 text-center margin-bottom-20">
			<button class="btn btn-success btn-md" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add Teacher</button>

		</div>
	</form>
</div>

</div>
