<div class="row margin-bottom-35">
	<div class="col-md-offset-4 col-md-4 col-xs-12">
		<div class="well well-md login w3-white w3-center">
			
			<div class="w3-container w3-center headerElement">
				<h2>Admin Login</h2>
			</div>

			<div class="w3-container">
				<div class="">
					<img src="assets/images/logoback.png" class="margin-auto img-responsive w3-border w3-padding">
				</div>

				<form role="form" id="myForm" ng-init="x={}" ng-submit="doLogin(x)">
					<div class="input-group margin-bottom-sm myFormElement">
						<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
						<input type="text" class="form-control " placeholder="Enter your username" ng-model="x['username']">
					</div>

					<div class="input-group margin-bottom-sm myFormElement">
						<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
						<input type="password" class="form-control " placeholder="Enter your password" ng-model="x['password']">
					</div>

							

					<button type="submit" class="form-control btn btn-md btn-success">

						<i class="fa fa-sign-in">&nbsp;&nbsp;Login  </i>
					</button>	
				</form>
			</div>

		</div>
	</div>

	
</div>

</div>
