<div class="container-fluid margin-bottom-35">
<div class="col-md-12 well" >

<div class="col-md-8 col-md-offset-2">

	<h2 class="text-center no-margin no-padding" >Update Teacher Details</h2>
</div>

</div>
	<form  ng-submit="doUpdate(teacher)">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="well well-lg">


					<div class="col-md-12 col-xs-12 col-sm-12 no-padding">
						<input class="form-control custom-form" ng-model ="teacher.name"  type="text" placeholder="teacher name">
					</div>

			<div>
				<select   class="form-control margin-auto margin-top-10" ng-model="teacher.courseid" >
					<option value="" disabled>choose a course</option>
          <option value="bca">B.SC</option>
          <option value="bba">B.B.A</option>
          <option value="bcom">B.COM</option>
          <option value="llb">L.L.B</option>
          <option value="med">M.ED</option>
          <option value="bed">B.ED</option>
          <option value="mscit">M.SC.IT</option>
          <option value="bsc">B.SC</option>
				</select>
				</div>
				<input class="form-control custom-form margin-top-10"  ng-model ="teacher.qualification" type="text" placeholder="Enter qualification of teacher">


				<input class="form-control custom-form margin-top-10"  ng-model ="teacher.post" type="text" placeholder="post">

				<input class="form-control custom-form margin-top-10"  ng-model ="teacher.phone" type="number" placeholder="phone number">


				<input class="form-control custom-form margin-top-10"  ng-model ="teacher.email" type="email" placeholder="E-mail address">


			</div>
		</div>




		<div class="col-md-12 text-center margin-bottom-35">
			<button class="btn btn-success btn-md" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>Update Teacher</button>

		</div>
	</form>
</div>

</div>
