	<div class="row margin-bottom-35">
		<div class="col-md-12 col-xs-12">

			<div class="padding-side-0 w3-padding-16 w3-container w3-light-grey img-rounded">
				<h2 class="margin-sides-10 text-center">Events Details</h2>


				
				<table  class="table sortable table-bordered myTable largeTable " ng-init="olfy = 'name'">
					
						<tr class = w3-grey>
							<th>Seq. No</th>
							
							<th ng-click="olfy = 'name'">Name </th>
							<th>Description</th>
							<th>type</th>
						</tr>
					
					<tbody>
						<tr>
							<td colspan="4" class="bg-primary" ng-hide="feeds">
								<h1 class="text-center"><i class="fa fa-refresh fa-spin"></i></h1>
							</td>
						</tr>
						<tr ng-repeat='x in feeds | orderBy : olfy' ng-show="feeds" ng-click="stateChange(x)">
							<td>{{$index+1}} </td>
							
							<td>{{x.name}} </td>
							<th>{{x.description}}</th>
							<th>{{x.type}}</th>
						</tr>
					</tbody>
				</table>
				