<div class="row w3-padding-8 w3-theme" style="margin:auto" >

			<div class="col-xs-6 col-xs-offset-3 visible-xs">
				<a ui-sref="home"><img src="assets/images/logo.png" class="img-responsive margin-auto"></a>
			</div>
			<div class="col-md-offset-4 col-md-1 hidden-xs hidden-sm	">
			<a ui-sref="admin.home"><img src="assets/images/logo.png" class="img-responsive"></a>
			</div>
			<!--
 			<div class="hidden-md visible-xs visible-sm col-xs-12">
				<img src="assets/images/logo.png" style="height:120px; width:auto;" class="img-responsive margin-auto">
			</div>-->
			<div class="col-md-4 col-xs-7">
			<br>
				<h2 class="header_padding hidden-xs hidden-sm w3-text-white font-georgia">T.N.Rao College</h2>
				<h1 class="header_padding text-center hidden-md visible-xs visible-sm"></h1>
			</div>
		</div>
