<div class="main-container">
		<div class="row course-container">
			<div class="col-md-12 col-xs-12">
				<a ui-sref="admin.addNews">
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-plus fa-5x" aria-hidden="true"></i>
						<h1 id="course">Add News</h1>
					</div>
				</div>
				</a>
				<a ui-sref="admin.addEvent">
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-plus fa-5x" aria-hidden="true"></i>
						<h1 id="course">Add Event</h1>
					</div>
				</div>
				</a>
				<a ui-sref="admin.addTeacher">
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-plus fa-5x" aria-hidden="true"></i>
						<h1 id="course">Add Teacher</h1>
					</div>
				</div>
				</a>
				<a ui-sref="admin.addCourse">
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-plus fa-5x" aria-hidden="true"></i>
						<h1 id="course">Add Course</h1>
					</div>
				</div>
				</a>
				<a ui-sref="admin.news">
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
						<h1 id="course">Edit News</h1>
					</div>
				</div>
				</a>
				<a ui-sref="admin.events">
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
						<h1 id="course">Edit Event</h1>
					</div>
				</div>
				</a>
				<a ui-sref="admin.teachers">
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
						<h1 id="course">Edit Teacher</h1>
					</div>
				</div>
				</a>
				<a ui-sref="admin.courses">
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
						<h1 id="course">Edit Course</h1>
					</div>
				</div>
				</a>
				
			</div>
		</div>
	</div>