	<div class="row margin-bottom-35">
		<div class="col-md-12 col-xs-12">

			<div class="padding-side-0 w3-padding-16 w3-container w3-light-grey img-rounded">
				<h2 class="margin-sides-10 text-center">News feed Details</h2>



				<table  class="table sortable table-bordered myTable largeTable " ng-init="olfy = 'name'">

						<tr class = w3-grey>
							<th>Seq. No</th>

							<th ng-click="olfy = 'name'">Name </th>
							<th>description</th>
							<th>Edit/delete</th>
							<th>Date</th>
						</tr>

					<tbody>
						<tr>
							<td colspan="5" class="bg-primary" ng-hide="news">
								<h1 class="text-center"><i class="fa fa-refresh fa-spin"></i></h1>
							</td>
						</tr>
						<tr ng-repeat='x in news | orderBy : olfy' ng-show="news" ng-click="stateChange(x)">
							<td>{{$index+1}} </td>

							<td>{{x.name}} </td>
							<td>{{x.description}} </td>
							<td>{{x.date}}</td>
						<td>	<button class="btn btn-default w3-white" ng-click = "editNews(x.id)" ><i class="fa fa-pencil-square-o fa-2x w3-success" aria-hidden="true" style="float:left;"></i></button>
	<button class="btn btn-default w3-white" ng-click = "deleteNews(x.id)" ><i class="fa fa-trash fa-2x" aria-hidden="true" style="float:right;"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
