<div class="main-container" style="height:100%" >
		<div class="row course-container">
			<div class="col-md-12 col-xs-12">
				<table>
					<tr  ng-click="stateChange(x)" ng-repeat="x in courses" >
						<td style="width:10%">
							<img src = "{{getHODPhoto(x.course)}}" class="img-responsive">
							<h4 id="course">{{ getHOD(x.course) }}</h4>
						</td>
						<td>
							<h3 class="page-header">{{x.coursename}}</h3>
							<div class="md-content">
								{{x.content}}
							</div>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
