<div class="main-container">
		<div class="row course-container">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
						<h1 id="course">B.C.A</h1>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
						<h1 id="course">B.C.A</h1>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
						<h1 id="course">B.C.A</h1>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
						<h1 id="course">B.C.A</h1>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
						<h1 id="course">B.C.A</h1>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
						<h1 id="course">B.C.A</h1>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
						<h1 id="course">B.C.A</h1>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 w3-border w3-card-4 course_main w3-center  " style="margin-left:6.24%">	
					<div style="margin-top:22px">
						<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
						<h1 id="course">B.C.A</h1>
					</div>
				</div>
				
			</div>
		</div>
	</div>