<style>
	.grid-item
	{
	    padding: 3px;
	    background-color:#222;
	    border-radius: 15px;
	    margin: 3px;

			max-height:300px;
	}
</style>
	<div class="full-height">
	<h2 class="page-header text-primary padding-20">Event And Activities </h2>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 well-lg bg-primary text-center" ng-hide="events">
			<h1 class="text-center"><i class="fa fa-spinner fa-spin"></i></h1>
		</div>
	</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-12 margin-top-20 event-item  nga-default nga-stagger-fast nga-rotate-right"  ng-repeat="x in events track by $index">

		<fieldset >
		<legend><h2 class="text-uppercase text-danger"><a  ng-click="stateChange(x.id)" style="cursor:pointer">{{x.name}}</a></h2></legend>
		<div class= "col-xs-12 visible-xs" >
			<img src="../server/{{x.image.path}}" class="img-responsive w3-center grid-item visible-xs">
		</div>

		<div class="row " style="padding-top:15px">
		<div class="col-md-3 col-xs-8 hidden-xs ">

			<div >
				<img src="../server/{{x.image.path}}" style="display:inline-block; " class="img-responsive grid-item">
			</div>

		</div>
		<div class="col-md-9 col-md-offset-0 col-xs-12  event-message" >
			<p style="text-indent:30px;" class='text-justify text-capitalize tahoma'>	{{x.description  | cut:true:350:'.....'}}
				<a class = "btn btn-link" ng-click="stateChange(x.id)" style="font-size:14">See more</a>

					<div class="text-info" style="font-size:18" >
					<i class="fa fa-globe" aria-hidden="true"></i>  place: {{x.place}}
				</div>

				</p>
		</div>
	</div>
</fieldset>
</div>
</div>
