	<div class="full-height">
	<h2 class="page-header text-primary">Event And Activities </h2>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 well-lg bg-primary text-center" ng-hide="events">
			<h1 class="text-center"><i class="fa fa-refresh fa-spin"></i></h1>
		</div>
	</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-12 margin-top-20" ng-repeat="x in events">

		<div class="col-md-3 col-xs-8 hidden-xs" style="position:absolute;top:35%">
			<a ng-click="stateChange(x.id)"><h3 class="text-danger text-capitalize" ng-click="goTo(x.id)">{{x.name | uppercase}}</h3></a>
		</div>
		<div class="col-md-3 col-xs-8 visible-xs">
			<a ng-click="stateChange(x.id)"><h3 class="text-danger" ng-click="goTo(x.id)"><p>{{x.name | uppercase}}</p></h3></a>
		</div>


		<div class="col-md-8 col-xs-9 col-xs-offset-3 event-message" >
			<p style="text-indent:30px;" class='text-justify text-capitalize tahoma'>	{{x.description  | cut:true:350:'.....'}}
				<a class = "btn btn-link" ng-click="stateChange(x.id)" style="font-size:14">See more</a>   <a class = "btn btn-link" ng-click="stateChange(x.id)" style="font-size:18">  <div class="text-info" >place: {{x.place}}</div></a>
				</p>
		</div>

</div>
</div>
