<style>
.grid-item
{
    padding: 3px;
    background-color:#222;
    border-radius: 10px;
    margin: 3px;
    min-width: 300px;
}
.modalOpenImg
{
    width: 300px;
    height:auto;
    border-radius: 10px;
    border-style: solid;
    border-color: #333;
    margin: auto;
}
#modalFoto{
    max-width: 100%;
    max-height: 100%;
}
.modal-body
{
    text-align: center;
}
.modal-dialog
{
  width: 80%;
  height: auto;
  margin: auto;
  padding: 5;
}
.modal-header{
    background-color: rgba(255,255,255,0.8)
}
.modal-content {
  background-color: transparent;
  height: auto;
  min-height: 100%;
  border-radius: 10px;
}

#modalFoto{
    max-width: 100%;
    max-height: 100%;
    min-width: 50vh;
    min-height: 50vh;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    text-align:justify;
    font-size:17px;

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;

    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 8%;
    right: 18px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<div id="mySidenav" class=" sidenav w3-card-4 w3-light-grey">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i id="closebtn" class="fa fa-close "></i></a>

  <h2 class=" w3-center text-primary"><b>{{event.name | uppercase}}</b></h2>

<p class="text-capitalize" style=" padding: 15px"> <i class="fa fa-hand-o-right fa-2x" aria-hidden="true"></i>        {{event.description}}</p>
<h4 class="text-danger" style="padding-left:10px"><i class="fa fa-globe" aria-hidden="true"></i> Place:  {{event.place}}</h4>
<h4 class="text-danger" style="padding-left:10px"><i class="fa fa-calendar-o" aria-hidden="true"></i> Date : {{event.date}}


</div>

<div class="my_container full-height">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 well-lg bg-primary text-center" ng-hide="eventPhotos">
    <h1 class="text-center"><i class="fa fa-refresh fa-spin"></i></h1>
  </div>

    <div class="wrapper-gallery" style="">


        <div masonry  class="grid" id="main" style="margin-left:3px;float:left;width:95%;">
          <div class="masonry-brick " ng-repeat="x in eventPhotos" style="padding:10px">
            <div class="grid-item " >

                <img src="../server/{{x.path}}"  class="modalOpenImg img-responsive" >
            </div>
          </div>

        </div>

        <div id="modalPicture" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPictureLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" style="display:block; padding:4px; background-color:rgb(200,10,10); opacity:1; color:white" data-dismiss="modal" aria-label="Close">
                            <span class="fa fa-times" aria-hidden="true"></span>
                            <span class="sr-only">Close</span>
                        </button>
                        <img class="js-modal-image w3-image" id='modalFoto' src="">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="btn btn-default w3-padding w3-teal" style="margin-top:40vh;right:0%;position:fixed;padding:0;" ng-click="openLeftMenu()">
        <i class="fa fa-angle-double-left fa-3x" aria-hidden="true" ></i>
    </div> -->
   <!--   <md-sidenav md-component-id="right" class="md-sidenav-right">
        Left Nav!
    </md-sidenav>
    -->
    <span id="openbtn" style="font-size:25px;cursor:pointer;" onclick="openNav()"><i class="fa fa-toggle-left fa-2x"></i></span>



</div>


<script>

$(document).ready(function() {

    var $gutter;

    if (window.matchMedia("(min-width: 480px)").matches) {
        $gutter = 5;
    } else if (window.matchMedia("(min-width: 768px)").matches) {
        $gutter = 40;
    } else {}

    activateMas($gutter);

    setInterval(function(){activateMas($gutter)},100);

    $(".modalOpenImg").click(function(){
        if($(window).width() > 768)
        {
            $("#modalFoto").attr('src',$(this).attr('src'));
            $("#modalPicture").modal();
        }
        else{
            console.log($(window).width())
        }
    });

});

function activateMas(x){

    $('.grid').masonry({
        itemSelector: '.grid-item',
        gutter: x,
        columnWidth: 1
    });
}

function openNav() {
    document.getElementById("mySidenav").style.width = "25%";
    document.getElementById("main").style.width = "75%";
    document.getElementById("openbtn").style.display="none";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.width= "95%";
    document.getElementById("openbtn").style.display="block";

}
</script>
