<style>
    legend{
        width: inherit;
        padding: 20px;
    }
    fieldset{
        border-radius: 20px;
    }
    p{
      text-align: justify;
    }
</style>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <h1 class="page-header w3-text-theme"><i class="fa fa-building"></i> Infrastructure</h1>
                <div class="wrapper-1">
                    <fieldset>
                          <legend class="w3-text-theme text-underline"><i class="fa fa-circle"></i> Physics Laboratory</legend>
                        <div class="col-md-12 col-md-offset-0 col-xs-12 content-div">
                            <p>Physics is the study of matter, energy and the interaction between them, but what that really means is that physics is about asking fundamental questions & trying to answer them by observing and experimenting. </p>
                            <p>We have physics laboratory which is well equipped and it consists of two different laboratories to perform the practical of physical / electronics and optics / spectroscopy (i.e. dark room).</p>
                            <p>Laboratory is furnished with relevant instruments which are very useful for students to understand the various concepts of physics by performing the practicals.</p>
                            <p>Laboratory is well equipped with the instruments like.
                                <ul class="list-group col-md-offset-1">
                                    <li class="">Spectrometer</li>
                                    <li class="">Cathode Ray Oscilloscope (C.R.O.)</li>
                                    <li class="">Telescopes</li>
                                    <li class="">Frequency generators</li>
                                    <li class="">Cathetometers</li>
                                    <li class="">Galvanometers</li>
                                    <li class="">Potentiometer</li>
                                    <li class="">Pagnetron</li>
                                    <li class="">Kater’s Pendulum</li>
                                    <li class="">Rectifiers</li>
                                    <li class="">Amplifiers etc.</li>
                                </ul>
                            </p>
                        </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/physics1.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/physics2.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/physics3.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/physics4.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/physics5.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/physics6.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/physics7.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/physics8.jpg" class="img-thumbnail img-responsive">
                        </div>
                    </div>
                    </fieldset>
                </div>
                <div class="wrapper-1">
                    <fieldset>
                          <legend class="w3-text-theme text-underline"><i class="fa fa-circle"></i> Chemistry Laboratory</legend>
                        <div class="col-md-12 col-md-offset-0 col-xs-12 content-div">
                          <p>
                              Chemistry is the branch of science which deals with the study of chemical composition, structure of compound / matter, chemical reaction mechanism & its relative properties.
                          </p>

                          <p>We have well established chemistry laboratory with the capacity of maximum 75 students. Here students perform all types of chemistry practical’s like
                              <ul class="list-group col-md-offset-1">
                                  <li class=""> Organic</li>
                                  <li class=""> Inorganic</li>
                                  <li class=""> Physicochemical</li>
                                  <li class=""> Volumetric</li>
                                  <li class=""> Physical Analysis</li>
                                </ul>
                          </p>
                          <p>We have advanced instruments like
                              <ul class="list-group col-md-offset-1">
                                <li class=""> pH meter</li>
                                <li class=""> Conducto meter</li>
                                <li class=""> Colori meter</li>
                                <li class=""> Referacto meter</li>
                                <li class=""> Polari meter</li>
                                <li class=""> visco meter</li>
                                <li class=""> Stalagmo meter</li>
                                <li class=""> Chromatography equipments</li>
                              </ul>
                              All these practicals will help the students to skill in chemistry subject.
                          </p>
                        </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/chemistry1.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/chemistry2.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/chemistry3.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/chemistry4.jpg" class="img-thumbnail img-responsive">
                        </div>
                    </div>
                    </fieldset>
                </div>
                <div class="wrapper-1">
                    <fieldset>
                          <legend class="w3-text-theme text-underline"><i class="fa fa-circle"></i> Mircobiology  Laboratory</legend>
                        <div class="col-md-12 col-md-offset-0 col-xs-12 content-div">
                          <p>
                              Microbiology has emerged as the key biological science fetching wide range of career opportunities. We have a microbiology laboratory with modern lab design, well equipped and spacious accommodating 60 students.
                          </p>
                          <p>
                            The lab is furnished with all the required instruments to perform microbiology practicals.
                          </p>
                          <p>Necessary equipments/instruments include
                              <ul class="list-group col-md-offset-1">
                                <li class=""> Illuminating light microscope (Monocular and Binocular)</li>
                                <li class=""> Autoclave</li>
                                <li class=""> Table top centrifuge and cooling centrifuge</li>
                                <li class=""> Agarose gel electrophoresis and trans illuminator</li>
                                <li class=""> pH meter</li>
                                <li class=""> Refrigirators</li>
                                <li class=""> Bop incubator with shaker</li>
                                <li class=""> Water bath</li>
                                <li class=""> Laminar airflow unit</li>
                                <li class=""> Hot air oven</li>
                                <li class=""> UV-visible spectrophotometer and colorimeter</li>
                                <li class=""> Vortex and magnetic stirrer with hot plate etc…</li>
                              </ul>
                          </p>

                        </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/microbiology1.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/microbiology2.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/microbiology3.jpg" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-3 col-xs-12 w3-padding">
                            <img src="assets/images/infrastructure/microbiology4.jpg" class="img-thumbnail img-responsive">
                        </div>
                    </div>
                    </fieldset>
                </div>
                <div class="wrapper-1">
                    <fieldset>
                        <legend class="w3-text-theme text-underline"><i class="fa fa-circle"></i> Library </legend>
                        <div class="col-md-12 col-md-offset-0 col-xs-12 content-div">
                          <p>
                            A library occupies a very important place in an institution. With its books suited to the interests and aptitude of students of different age group, with its magazines, periodicals, news papers and with its calm and tranquil atmosphere it has a special call to the students who go there and quench their thirst for reading the material which cannot be provided to them in the class room. Here they find an environment which is conductive to the building up of habit of self learning. The library is the center of the intellectual and social activities of the institution. The library has got very wholesome effect over the work of the institution.
                          </p>
                          <p>Librarian Dr. S.R.Ranganathan in his thoughts mentioned that
                            <ul class="list-group col-md-offset-1">
                              <li class=""> Library is one of the developing field. </li>
                              <li class=""> Every book is useful. </li>
                              <li class=""> All readers should get their books. </li>
                              <li class=""> All books should get their readers. </li>
                              <li class=""> Readers can utilize their time. </li>
                            </ul>
                              All the above thoughts should be fulfilled in library.
                          </p>
                          <p>
                            In one of our vedas, there is one shloka for gaining knowledge we should pray goddess Sarasvati that during our journey of studies, enrich us with your blessing and give us success.
                            <ul class="list-group col-md-offset-1">We have total of 34360 books of different streams out of which
                              <li class=""> Faculty of Education : 14626 </li>
                              <li class=""> Faculty of Science : 164 </li>
                              <li class=""> Computer Science : 9800 </li>
                              <li class=""> Law : 2750 </li>
                              <li class=""> Management : 7020 </li>
                            </ul>
                            in which different reference books, dictionaries, encyclopedia, magazines and general books of different subjects are available.
                          </p>
                          <p>
                            <h4>SERVICES PROVIDED TO STUDENTS :</h4>
                            <ul class="list-group col-md-offset-1">
                              <li class=""> Book bank facility (as per semester)</li>
                              <li class=""> Intra-Library Loan (Exchanging books of inter faculties)</li>
                              <li class=""> Daily News Papers</li>
                              <li class=""> Internet (WiFi) Facility</li>
                              <li class=""> Thesis and C.D.s</li>
                              <li class=""> Reference Books</li>
                            </ul>
                            By using these facilities, all the students and teachers are gaining knowledge.
                          </p>
                        </div>
                    </fieldset>

                </div>
                <div class="wrapper-1">
                    <fieldset>
                        <legend class="w3-text-theme text-underline"><i class="fa fa-circle"></i> Computer Laboratory </legend>
                        <div class="col-md-12 col-md-offset-0 col-xs-12 content-div">
                          <p>
                            There are 2 well equipped computer labs in college, one with 120 computers and another with 60 with a centeralized server and a thorough LAN facility connected to High Speed Internet(30 Mbps).
                          </p>
                          <p>
                            There is enough space and resources available for group projects and research works.
                          </p>
                          <p>
                            All Computers are loaded with all the necessary softwares and frameworks which are in the syllabus according the University
                          </p>
                          <p>
                            Moreover, qualified staff available helps the students in all their work whether  it may be in or out of the syllabus.
                          </p>

                        </div>
                    </fieldset>

                </div>

            </div>
        </div>
    </div>
</div>
