<div style="height:10%"></div>
<div class="col-md-12 col-xs-12  ">
	<div class="row" >
	<div>	<div class="  w3-center col-md-offset-2 col-md-1"></div><div class="col-md-6 w3-center"> <p style="vertical-align:bottom; font-size:40; text-shadow: 1px 1px #125265;""><i class="fa fa-university fa-2x" aria-hidden="true"></i>  Infrastructure</p></div>
		</div>
		<!-- <div class="col-md-12 col-xs-12">
		<div class="page-header">
		<h2><i>College infrastrucure</i></h2>
		</div>

		</div> -->

		<div class="col-md-12 col-xs-12">
			<div>
				<div class="col-md-8 col-md-offset-2 col-xs-12 well well-lg">
				<div >
					<h3><b><i class="fa fa-hand-o-right"></i>  Library</b></h3>
				</div>
				<ul class="list-group margin-left-1o custom-form" style="font-size:16px">
					<li> The college has a well established fully computerized library with a large collection of textbooks, reference books, Technical and non-technical journals and magazines, educational DVDs and various departments.</li>
					<li>The library has also subscribed online national and international journals available.</li>
					<li>Library has a Wi-Fi facility to download various journals and other information.</li>
					<li>The library has a separate reading area, reference section book bank area, etc.</li>
					<li>It also has enriched collection of value added cultural and spiritual books by renowned authors to build up moral and inner strength of students.</li>
					<li>In order to facilitate all the readers in selecting the reading material of their interest, the access to stacks is open to all.</li>
					<li>The materials have been classified and categorised based in Dewey Decimal Classification (DDC).</li>
					<li>Library has a rich collection of 37000 books.</li>
				</ul>
				</div>
			</div>
			<div id="ninja-slider">
            <div class="slider-inner">
                <ul>
                    <li><a class="ns-img" href="assets/images/infrastructure/library/library1.jpg"></a></li>
                    <li><a class="ns-img" href="assets/images/infrastructure/library/library2.jpg"></a></li>
                    <li><a class="ns-img" href="assets/images/infrastructure/library/library3.jpg"></a></li>
                    <!-- <li><a class="ns-img" href="img/9/4.gif"></a></li>
                    <li>
                        <div class="video">
                            <iframe src="https://player.vimeo.com/video/145083718" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <a class="ns-img" href="img/9/5.gif"></a>
                        <div class="video-playbutton-layer"></div>
                    </li>
                    <li>
                        <div class="video">
                            <video controls width="100%">
                                <source src="img/mcvideo.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <a class="ns-img" href="img/9/6.gif"></a>
                        <div class="video-playbutton-layer"></div>
                    </li>
                    <li>
                        <a class="ns-img" href="img/9/7.gif"></a>
                        <div class="video" style="background-color:transparent;height:auto;top:auto;bottom:30px;">
                            <audio id="sound" data-autoplay="true" controls loop>
                                <source src="img/mcaudio2.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                    </li>
                    <li><a class="ns-img" href="img/9/8.gif"></a></li>
                    <li>
                        <a href="http://www.menucool.com/responsive-slider">
                            <img class="ns-img" src="img/9/9.gif" style="cursor:pointer;" />
                        </a>
                    </li> -->
                </ul>
                <div id="current-slide-num" style="position:absolute;top:82px;right:20px;color:white;z-index:1;font-size:16px;"></div>
            </div>
        </div>
			<!-- <div >
				<div class="grid col-md-4 col-xs-6  w3-center">
					<a href="assets/images/infrastructure/library/library1.jpg" rel="lightbox[renovation]"><img class="img-border" class="infraFoto" src="assets/images/infrastructure/library/library1.jpg" alt="library" class="img-responsive" style="max-height:400px; width:90%; margin:auto;"></a>
				</div>
				<div class="grid col-md-4 col-xs-6   w3-center">
					<a href="assets/images/infrastructure/library/library2.jpg" rel="lightbox[renovation]"><img class="img-border" class="infraFoto" src="assets/images/infrastructure/library/library2.jpg" alt="library" class="img-responsive" style="max-height:400px; width:90%; margin:auto;"></a>
				</div>
				<div class=" grid col-md-4 col-xs-6   w3-center">
					<a href="assets/images/infrastructure/library/library3.jpg" rel="lightbox[renovation]"><img class="img-border" class="infraFoto" src="assets/images/infrastructure/library/library3.jpg" alt="library" class="img-responsive" style="max-height:400px; width:90%; margin:auto;"></a>
				</div>
			</div> -->
		</div>

		<div class="col-md-12 col-xs-12">
			<div class="col-md-8 col-md-offset-2 col-xs-12 well well-lg">
				<div >
					<h3><b><i class="fa fa-hand-o-right"></i> Computer section</b></h3>
				</div>

				<ul class="list-group margin-left-1o custom-form" style="font-size:16px">
				<li> Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of.</li>
				<li>he particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up. </li>
				<li>And sir dare view but over man. So at within mr to simple assure. Mr disposing continued it offending arranging in we. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. </li>
				<li>Started several mistake joy say painful removed reached end. State burst think end are its. Arrived off she elderly beloved him affixed noisier yet. An course regard to up he hardly. View four has said does men saw find dear shy. Talent men wicket add garden.</li>
				</ul>
			</div>
			<div class=" grid-item col-md-8 col-xs-2 col-xs-8 col-xs-offset-2  w3-center">
					<img class="img-border" class="infraFoto" src="assets/images/infrastructure/computersection/1.jpg" alt="library" class="img-responsive" style="max-height:400px; width:90%; margin:auto;">
				</div>
		</div>


			<script>
			$(document).ready(function() {
    $('.grid a').lightBox();
});

			</script>