html,body{
	height: 100%;
	 margin: 0;
}
.margin-top-5{
	margin-top: 5px;
}
.row-eq-height{display: flex;}
.margin-auto{margin:auto;}
.main-container{
left: 0;
right: 0;
}
.text-underline{text-decoration: underline}
.text-bold{font-weight: bold}
.text-italic{font-style: italic}
.margin-bottom-20{
	margin-bottom: 20px;
}

.my_container{
	margin-top: 50px;
	margin-bottom: 30px;
}
.headerElement{
	margin-top: 2px;
}


.custom-form{
	margin:10px;
	font-family: monospace;
}
.monospace{
	font-family: monospace;
}
.full-height{
	min-height:100vh;
}
.vertical-middle{
	padding:3% 3.5%;
}

#myMenu{
	transition : display 1000;
	float: center;
	z-index: 10001;
}
.main-wrapper{
	min-height: -webkit-calc(100% - 100px);     /* Chrome */
  min-height: -moz-calc(100% - 100px);     /* Firefox */
	min-height: calc(100% - 100px);
}
.myFooter{

	bottom: 0;
	left: 0px;
	right: 0px;
	width: 100%;
}
#changeBg{
	background: rgba(53, 145, 204, 1);
	position: fixed;
	top: 0;
	width: 100%;
}

.menu_head{
	font-weight: bold;
}

.container_back{
	border: 1px solid black;
	height: 200px;
}
.img-border{
border: 1px solid black;
}
.height-icons{
	height:50px;
	width:50px;
}
.myBlockQuote
{
	display: block;
	font: 17px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.font-georgia{
	font-family:  Georgia, Times, "Times New Roman", serif;
}
.font-century{
	font-family: Century Gothic, sans-serif;
}
h3{
	margin-top:10px;
}

.margin-top-20{
	margin-top: 20px;
}


i{
	margin-top: 5px;
}

#slider{
	height: 100%;
	width: 100%;
	top:0;
	right: 0;

	background-image: url('../images/4.png');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition: background-image 2s;
	-webkit-transition: background-image 2s;
}

.wrapper{
	background-color: rgba(100,100,100,0.8);
}

#menu>li{
	padding-bottom: 7px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom-style: solid;
	border-bottom-color: black;
	transition: border-bottom-color 0.5s;
	text-align: center;
}

#menu>li:hover{
	border-bottom-color: white;
	color: white;
	text-decoration: none;

}

#menu>li>a:hover{
	text-decoration: none;
	color: white;
}

.banner{
	margin-left: 20px;
}

.news_container{
	height: auto;
	display: inline-block;
	background-color: grey;
	overflow: hidden;
	margin-top:20px;
	border-radius:10px;
	font-size: 17px;
	width: 100%;
}
font-palatino{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.margin-top-10{
	margin-top: 10px;
}

.padding-top-10{
	padding-top:20%;
}
.event-item{
	transition: all 1.5s;

}
.event-item:hover{
	background-color: 	rgb(252, 252, 252) ;
	border-radius: 20px;
}
legend{
	width: inherit;

}
.square-200{
			float:left;

	    position: relative;
	    width: 20vw;
			display: inline-block;
	    padding-bottom : 30%;
	    margin:1.0%;
			text-align: center;
			height: 20vw;
	    overflow:hidden;
			border-radius: 10px;
			padding: 8% 0;
		}


.square-200:hover{
	box-shadow: 0 0 50px grey;
}
@media (min-width:520px ) and (max-width:750px) {
	.square-200 {
		display: inline-block;
		height:20vw;
		width: 20vw;
		padding:3%;
	}
	.square-200>div>p{
		display: none;
	}
}

@media (min-width:320px ) and (max-width:519px) {

	.square-200 {
		display: table-cell;
		margin: 1.33%;
		height:50vw;
		width: 50vw;
	}


}




.margin-10{
	margin:10px;
}

.w3-light-grey-transparent{
	background-color:rgba(255,255,255,0.8);
}

.padding-20{
	padding: 20px;
}
#visionMission{
	display:block;
	opacity: 0.4;

	height:40px;
	overflow: hidden;
	width:30%;
	margin-top: 0px;
	 -webkit-transition:all 2s;
	 transition:all 2s;
	 -moz-transition:all 2s
}
#visionMission:hover
{
	opacity: 1;
	height:100%;

}
.event-message{
	border-left: 3px solid #ccc;
	text-align: justify;


}
.message-wrapper{
	border-left: 3px solid #ccc;
	text-align: justify;
	font-family:Times New Roman;
}
.tahoma{
	font-family: Tahoma, Geneva, sans-serif;
}

#marqueInside{
	margin-top:-100%;
}
.footer-link{
	color:white;
	-webkit-transition: all 2s;
}
.footer-link:hover{
	text-decoration: none;
	color:white;
	border-bottom-style:solid;
	border-bottom-color: white;
}
.msg-header{
	font-style: italic;
	font-size: 26px;
	font-family:Verdana;
}

#navMenu{
	top:0;
	left:0;
	bottom:0;
	/*height:50px;*/
}

.no-padding{
	padding: 0;
}

.no-margin{
	margin:0;
}

.course_main{
	margin-top: 15px;
	border-radius: 15px;
	transition : all 1s;
	display:inline-block;
	background-color:#184a6d;
	color: white;
	margin-left:6.24%; margin-top:2%; height:15%
}

.course_main:hover{
	background-color: rgba(91, 135, 158,0.5);
	color:black;
}


.width-100{
	width: 100%;
}

.faculty_photo{
	max-width: 200px;
	max-height: 200px;
}

.news_container{
	padding: 10px;
	border-radius: 20px;

}

.principal_message{
	padding: 10px;
}

.course-container{
	padding: 0;
	margin: 0;
	margin-top: 50px;
}

.margin-left-20{
	margin-left: 20px;
}

.head_photo{
	border-radius: 0 20px 0 20px;
	display: inline-block;
	max-width: 100%;
	max-height: auto;
	padding: 11px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid black;

	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-ou;


	.margin-top-5{

		margin-top: 5px;
	}

	.grid-item,.grid-sizer {
		width: 40%;

	}

	.grid-item--width2 {
		width: 60%;

	}
	/*animate class*/
	.ng-hide-add         { animation:1s lightSpeedOut ease; }
	.ng-enter         { animation:1s flipInX ease; }

	/* when showing the picture */
	.ng-hide-remove      { animation:0.5s flipInX ease; }

	.no-animate.ng-enter,
	.no-animate.ng-leave,
	.no-animate.ng-animate {
	        transition: none !important; /* disable transitions */
	        animation: none 0s !important; /* disable keyframe animations */
	}
	/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
	.flipInx{
		display: block;
		animation: flipInX 0.50s ease;
		-webkit-animation: flipInX 0.50s ease;
	}
	/* flip in */
	@keyframes flipInX {
	  0% {
	    transform: perspective(3000px) rotate3d(1, 0, 0, 90deg);
	    transition-timing-function: ease-in;
	    opacity: 0;
	  }

	  40% {
	    transform: perspective(3000px) rotate3d(1, 0, 0, -20deg);
	    transform: perspective(3000px) rotate3d(1, 0, 0, -20deg);
	    transform: perspective(3000px) rotate3d(1, 0, 0, -20deg);
	    transition-timing-function: ease-in;
	    transition-timing-function: ease-in;
	  }

	  60% {
	    transform: perspective(3000px) rotate3d(1, 0, 0, 10deg);
	    transform: perspective(3000px) rotate3d(1, 0, 0, 10deg);
	    transform: perspective(3000px) rotate3d(1, 0, 0, 10deg);
	    opacity: 1;
	  }

	  80% {
	    transform: perspective(3000px) rotate3d(1, 0, 0, -5deg);
	    transform: perspective(3000px) rotate3d(1, 0, 0, -5deg);
	    transform: perspective(3000px) rotate3d(1, 0, 0, -5deg);
	  }

	  100% {
	    transform: perspective(3000px);
	    transform: perspective(3000px);
	    transform: perspective(3000px);
	  }
	}

	/* light speed out */
	@keyframes lightSpeedOut {
	  0% {
	    opacity: 1;
	  }

	  100% {
	    transform: translate3d(100%, 0, 0) skewX(30deg);
	    transform: translate3d(100%, 0, 0) skewX(30deg);
	    opacity: 0;
	  }
	}

	@keyframes lightSpeedOut {
	  0% {
	    opacity: 1;
	  }

	  100% {
	    transform: translate3d(100%, 0, 0) skewX(30deg);
	    transform: translate3d(100%, 0, 0) skewX(30deg);
	    transform: translate3d(100%, 0, 0) skewX(30deg);
	    opacity: 0;
	  }
	}
	* { box-sizing: border-box; }


.grid {
  background: #EEE;
  width: 100%;
}


.grid:after {
  content: '';
  display:inline-block;
  clear: both;
}


.grid-item {
  float: left;
  width: 100%;
  height: auto;
  background: #D26;
  overflow: hidden;
  position: absolute;
}

.side-nav{
	width:5%;
	display:inline-block;
	vertical-align:middle;
	padding: 0;
	margin-top: 45%;
	margin-right: 0px;
	/*margin-top: 45%;
	margin-bottom: 55%;*/
}


.margin-top-5{

	margin-top: 5px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.margin-top-15{
	margin-top:15px;
}
.header-margin{
	p
}
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.5s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


        body {font: normal 0.9em Arial;margin:0;}
        a {color:#1155CC;}
        h2 {margin-top: 60px;}
        header {display:block;padding:40px 0 30px;text-align:center;background:#000;}
        header a {
            font-family: sans-serif;
            font-size: 24px;
            line-height: 24px;
            padding: 8px 13px 7px;
            color: #4d5256;
            text-decoration:none;
            transition: color 0.7s;
        }
        header a.active {
            font-weight:bold;
            width: 24px;
            height: 24px;
            padding: 4px;
            text-align: center;
            display:inline-block;
            border-radius: 50%;
            background: #4d5256;
            color: #191919;
        }



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 500px;
    }
}

/*animate class*/
.ng-hide-add         { animation:1s lightSpeedOut ease; }
.ng-enter         { animation:1s flipInX ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s flipInX ease; }

.no-animate.ng-enter,
.no-animate.ng-leave,
.no-animate.ng-animate {
        transition: none !important; /* disable transitions */
        animation: none 0s !important; /* disable keyframe animations */
}
/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(3000px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(3000px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(3000px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(3000px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(3000px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(3000px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(3000px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(3000px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(3000px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(3000px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(3000px);
    transform: perspective(3000px);
    transform: perspective(3000px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
