.margin-top-5{
	margin-top: 5px;
}

.myFooter{
	height:30px;
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: black;
	width: 100%;
}

.notice{
	background-color: rgba(100,100,100,0.2);
	width:300px;
	height:200px;
}

.border-round{
	border-radius: 10px;
}

#myModal{
	height: 500px;
	width: 1000px;
	
}

.div1{
	height: 100vh;
}

.myMenu{
	width:250px;
	height: auto;
	margin-left: 3px;
	color: white;
	text-align: center;
	float: left;
}

.background{
	background-color: blue;
}

.menu_head{
	font-weight: bold;

}
.container{
	height:200px;
	width:300px;
	float: left;

}

.margin-top-20{
	margin-top: 20px;
}

.wrapper_content{

}

.margin-left-right{
	margin-left: 15px;
	margin-right: 15px;
}

i{
	margin-top: 5px;
}
