.w3-theme-l5 {color:#000 !important; background-color:#ebfef9 !important}
.w3-theme-l4 {color:#000 !important; background-color:#bdfaec !important}
.w3-theme-l3 {color:#000 !important; background-color:#7af5d8 !important}
.w3-theme-l2 {color:#000 !important; background-color:#38f0c5 !important}
.w3-theme-l1 {color:#fff !important; background-color:#10d1a4 !important}
.w3-theme-d1 {color:#fff !important; background-color:#0a8064 !important}
.w3-theme-d2 {color:#fff !important; background-color:#097259 !important}
.w3-theme-d3 {color:#fff !important; background-color:#07644e !important}
.w3-theme-d4 {color:#fff !important; background-color:#065543 !important}
.w3-theme-d5 {color:#fff !important; background-color:#054738 !important}

.w3-theme-light {color:#000 !important; background-color:#ebfef9 !important}
.w3-theme-dark {color:#fff !important; background-color:#054738 !important}
.w3-theme-action {color:#fff !important; background-color:#054738 !important}

.w3-theme {color:#fff !important; background-color:#0b8e6f !important}
.w3-text-theme {color:#0b8e6f !important}
.w3-theme-border {border-color:#0b8e6f !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#0b8e6f !important}